<a href="/">Home</a>
<br>
{{#if empty}}
    <h1>No result!</h1>
    <a href="javascript:history.back()">Go Back</a>
{{else}}

{{#each bookReview}}
    <h1>{{this.title}}</h1>
    <em><b>by: {{this.author}}</b></em>
    <p>Reviewer: {{this.reviewer}}</p>
    <p>Date: {{this.reviewDate}}</p>
    <p>{{this.summary}}</p>
    <a href={{reviewUrl}} class="reviewUrl">Full Review</a>
    <em><footer class="mt-3">Copyright (c) 2020 The New York Times Company. All Rights Reserved</footer></em>
{{/each}}

{{/if}}