<h1>Letter {{letter}}</h1>

{{#if empty}}
    <h1>No result!</h1>
    <a href="/">Back</a>
{{else}}

{{#each book}}
<li><a href="/tvshow/{{this.book_id}}">{{this.title}}</a></li>
{{/each}}

<form action="/books/{{letter}}" method="get">
        <input type="hidden" name="offset" value={{prevOffset}}>
        <button type="submit">Previous</button>
</form>

<form action="/books/{{letter}}" method="get">
        <input type="hidden" name="offset" value={{nextOffset}}>
        <button type="submit">Next</button>
</form>

{{/if}}