<a href="/">Home</a>
<br>

<h1 class="mt-3 mb-3">Letter {{letter}}</h1>

{{#each book}}
    <li><a href="/book/{{this.book_id}}">{{this.title}}</a></li>
{{/each}}

<div class="d-flex flex-row bd-highlight mb-3 justify-content-between mt-3">
    <form action="/books/{{letter}}" method="get">
            <input type="hidden" name="offset" value={{prevOffset}}>
            {{#if empty}}
            <button type="submit" class="btn btn-primary" disabled>Previous</button>
            {{else}}
            <button type="submit" class="btn btn-primary">Previous</button>
            {{/if}}
    </form>

    <form action="/books/{{letter}}" method="get">
            <input type="hidden" name="offset" value={{nextOffset}}>
            {{#if max}}
            <button type="submit" class="btn btn-primary" disabled>Next</button>
            {{else}}
            <button type="submit" class="btn btn-primary">Next</button>
            {{/if}}
    </form>
</div>